@import "tailwindcss";


@theme {
  --color-dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --color-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-light-grayish-blue: hsl(234deg 39% 85% / 33%);
  --color-Bright-Blue: hsl(220, 98%, 61%)
}

:root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  color: var(--foreground);
  background: hsl(275, 100%, 97%);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/images/background-pattern-mobile.svg');


   margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 320px; */
  min-height: 110vh;
}

* {
  box-sizing: border-box;
}
h1{
  color: hsl(292, 42%, 14%);
}
h2{
  color:hsl(292, 16%, 49%) ;
}



@media (min-width: 768px) {
body {
    background-image: url('/images/background-pattern-desktop.svg');
  }
}
.answer-transition {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.answer-open {
  max-height: 500px; 
}